body{
    background-color:beige;
    text-align: center;
    
}
.country{
    border: 3px solid goldenrod;
    border-radius: 5px;
    
    
}

#country-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}